@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Tangerine:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.form {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  place-items: center;

  header {
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
  }

  .formContent {
    background-color: #ffffff;
    width: 430px;

   
      .left {
        display: flex;
        align-items: center;

        p {
          width: 160px;
          font-size: 12px;
          margin-left: -20px;
          b {
            font-weight: bold;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;

        button {
          margin-left: 19px;
        }
      }
    
    .cover {
      margin: 25px 0;
      img {
        width: 100%;
        background-size: cover;
      }
    }

    .input {
      .item {
        margin-top: 30px;
        label {
          font-size: 13px;
          top: 20px;
        }
        input {
          border: none;
          width: 380px;
          height: 50px;
          background: #ededed;
          border-radius: 9px;
        }
      }
    }

    .send {
      width: 276px;
      height: 61px;
      background-color: #e109a5;
      border-radius: 10px;
      display: grid;
      place-items: center;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        border: 1px solid black;
        background-color: #ffffff;
        p {
          color: black;
        }
      }
      p {
        color: #ffffff;
      }
    }

    .footer {
      height: 710px;
      h2 {
        margin-top: 30px;
        padding-top: 30px;
        color: #ffffff;
        font-size: 40px;
        font-family: "Tangerine", cursive;
        font-weight: bold;
      }

      span {
        display: block;
        color: #ffffff;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 100;
      }
      b {
        padding-top: 20px;
        display: block;
        color: #ffffff;
        margin-top: 15px;
        font-size: 15px;
        font-weight: bolder;
      }

      .day_logo {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .menu {
    position: fixed;
    z-index: 4;
    width: 430px;

    .menuContent {
      background-color: #e109a5;
      color: #ffffff;
      width: 279px;
      height: 500px;
      text-align: end;
      right: 0px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-left: auto;
      margin-right: 0;
      
    
      .nav{
        padding-top: 30px;
    
      p {
        font-size: 16px;
        padding: 8px 30px;
        line-height: 30px;
      }
    }

      .logout{
        margin-top: 30px;
        p{
          padding: 8px 30px;
          font-size: 13px;
        }
      }
    }
  }
}
